
@{
    ViewBag.Title = "Pasar Datos con ViewBag";
}

<h2>@ViewBag.Title</h2>   @* SIntaxis Razor *@

<p>
    Nombre del Estudiante: @ViewBag.Nombre
</p>
<p>
    Apellidos del Estudiante: @ViewBag.Apellidos
</p>
<p>
    Celular del Estudiante: @ViewBag.Celular
</p>
<p>
    Correo Electrónico del Estudiante: @ViewBag.Correo
</p>
<p>
    Fecha Matricula: @ViewBag.FechaMatricula
</p>
